@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

@import url('https://fonts.googleapis.com/css?family=Lato');

.uk-background-cover {     
	background-size: cover;
}

.tm-header {
	background-image: url(../images/mount.png);
    padding-top: 127px;
    z-index: 980;
    left: 0;
    right: 0;
}

.tm-label {
	background-image: url(../images/mount-label.png);
	//padding-top: 210px;
	height: 210px;
}

.uk-navbar-container {
	
    width: 100%;
    //min-height: 50px;	
	padding-left: 20%;
	//padding: 20px;
	position: relative;
	background-color: rgba(60, 60, 60, 0.8);
}

.uk-navbar-container-bottom {
	position: relative;
    text-align: center;
    padding: 30px 0 30px;
    background-color: rgb(41,41,42);
}

.uk-container {
	//padding-left: 400px;
    //padding-right: 400px;
}
.uk-navbar-left {
	flex-wrap: wrap;
    //margin-left: -20px;
    //margin-right: -20px;
    display: flex;
    align-items: center;


}
.uk-navbar-right {
	flex-wrap: wrap;

    padding-left: 20%;
    display: flex;
    align-items: center;
}
.uk-navbar {
	display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.uk-navbar-nav {
	display: flex;
    //margin: 0;
    //padding: 0;
    list-style: none;
}


.header-text {
	font-family: 'Lato', sans-serif;
	margin-right: 10px;
	color: #fff;
	margin-left: 5px;

}
.header-nav-text {
	font-family: 'Lato', sans-serif;
	margin-right: 10px;
	color: #fff;
	margin-left: 5px;

}
.header-nav-text:hover {
	color: #ed3d36;
	cursor: pointer;
}

.tm-label-blog {
    text-align: center;
    padding-top: 60px;
}

.header-left {
	color: #ed3d36;
}

.tm-label-text {
	text-align: center;
    padding: 10px;
}

.tm-label-text span {
	font-family: 'Lato', sans-serif;
}


.header-right {
	color: #fff;
}

i {
	//padding: 0 20px;

}

.tm-footer-bg {
	background-image: url(../images/footer.png);
	//padding-top: 210px;
	height: 440px;	
}

.tm-body {
	min-height: 600px;
	padding-top: 50px;
}

.tm-body-content {
	//display: flex;
	display: inline-block;
    border: 1px;
    margin-left: 20%;
    margin-right: 20%;   
    margin-top: 10px;
    margin-bottom: 3%;
    border-style: solid;
    padding: 40px;
    //text-align: center;
    border-color: black;
    border-bottom-width: 1px;	
}

.tm-body-content-img {
	text-align: left;
	//height: auto;
    //width: 100%;
    display: inline-block;
}

.tm-body-content-img img {
	text-align: left;
	//height: auto;
    //width: 100%;
    //display: inline-block;
}

.tm-body-content-right {
	margin-left: 30px;
	position:relative;
	//padding-bottom:50px;
	display: inline-block;
	max-width: 30%;
}

.tm-body-content-date {
	text-align: left;
	padding: 5px 0 5px 0;	
}

.tm-body-content-date span {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	color: #a9a9a9;
}

.tm-body-content-header {
	text-align: left;
	padding: 5px 0 5px 0;	
}

.tm-body-content-header span {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	text-decoration: underline;

}

.tm-body-content-text {
	text-align: left;
	padding-top: 5px;
}
.tm-body-content-text span {
	font-family: 'Lato', sans-serif;

}

.tm-body-content-footer {
	padding: 5px 0 5px 0;	
    border-top: 1px;
    border-style: solid;
    border-width: 1px 0 0 0;
    margin-top: 10px;
    border-color: #9b9b9b;
	display: flex;

}

.tm-body-content-views {
	font-family: 'Lato', sans-serif;
	color: #9b9b9b;
	margin-top: 10px;

}

.tm-body-content-next {
	margin-top: 10px;
	margin-left: 60%;

}
.tm-body-content-next:hover {
	color: #ed3d36;
	cursor: pointer;
}